@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root{
    --font-padrao: "Tiny5", sans-serif;
}

body{
    background-color:#bf9bde;
    font-family: var(--font-padrao);
}
.container{
    width: 500px;
    height: 400px;
    margin: 5em auto;
    text-align: center;

}

.pontuacao_titulo{
    margin: 0;
}

.botao__continuar{
    background-color: #7f00b2;
    margin-top: 2em;
    font-size: 2em;
    font-family: var(--font-padrao);
    border-radius: 8px;
    color: #fff;
}
.logo{
    font-size: 4em;
    color: #7f00b2;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

.pontuacao_titulo{
    text-transform: uppercase;
}