body{
    margin: 0px;
    padding: 0px;
    background-color: #d3d3d3;
    box-sizing: border-box;
}

.container{
 border: 1px solid #c6c6c6;
 background-color:#7f00b2;
 border-radius: 50px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 80px auto;
 width: 390px;
}

.container__lista{
    background-image: url("../image/bg-button.svg");
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 40%;
}

.container__lista--ativado{
    background-image: url("../image/bg-button-active.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container__linha1,.container__linha2,.container__linha3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2.5em;
    gap: 20px;
    list-style-type: none;
}
